<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxstarxxx.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ui.account.SetUsernameActivity"
            android:exported="true" />
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CovidCasesTracker"
            android:exported="true"/>
        <activity
            android:name=".Chat.ChatActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- meta data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <!-- Activity -->
        <activity
            android:name=".PermissionActivity"
            android:exported="true" />
        <activity
            android:name=".VaccineFinderActivity"
            android:exported="true"
            android:label="@string/vaccine_finder" />
        <activity android:name=".DoctorListActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_chat_dashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".ui.account.ProfileActivity"
            android:exported="true" />
    </application>

</manifest>